/* ====================================================== */
/* FONTS
/* ====================================================== */

/* Naskh */

@font-face {
  font-family: 'AnaMuslim-Naskh';
  src: url('../public/fonts/nabi/Nabi-Regular.woff2') format('woff2'),
    url('../public/fonts/nabi/Nabi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Thuluth */

@font-face {
  font-family: 'AnaMuslim-Thuluth';
  src: url('../public/fonts/thuluth/AMoshrefThuluth-Regular.woff2') format('woff2'),
    url('../public/fonts/thuluth/AMoshrefThuluth-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Ruqaa */

@font-face {
  font-family: 'AnaMuslim-Ruqaa';
  src: url('../public/fonts/ruqaa/ArefRuqaa-Regular.woff2') format('woff2'),
      url('../public/fonts/ruqaa/ArefRuqaa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Tajawal */

@font-face {
  font-family: 'AnaMuslim-Tajawal';
  src: url('../public/fonts/tajawal/Tajawal-ExtraLight.woff2') format('woff2'),
      url('../public/fonts/tajawal/Tajawal-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AnaMuslim-Tajawal';
  src: url('../public/fonts/tajawal/Tajawal-Light.woff2') format('woff2'),
      url('../public/fonts/tajawal/Tajawal-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AnaMuslim-Tajawal';
  src: url('../public/fonts/tajawal/Tajawal-Regular.woff2') format('woff2'),
      url('../public/fonts/tajawal/Tajawal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AnaMuslim-Tajawal';
  src: url('../public/fonts/tajawal/Tajawal-Medium.woff2') format('woff2'),
      url('../public/fonts/tajawal/Tajawal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AnaMuslim-Tajawal';
  src: url('../public/fonts/tajawal/Tajawal-Bold.woff2') format('woff2'),
      url('../public/fonts/tajawal/Tajawal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

/* Scheherazade */

@font-face {
  font-family: 'AnaMuslim-Scheherazade';
  src: url('../public/fonts/scheherazade/Scheherazade-Regular.woff2') format('woff2'),
      url('../public/fonts/scheherazade/Scheherazade-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AnaMuslim-Scheherazade';
  src: url('../public/fonts/scheherazade/Scheherazade-Bold.woff2') format('woff2'),
      url('../public/fonts/scheherazade/Scheherazade-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

/* Merriweather */

@font-face {
  font-family: 'AnaMuslim-Merriweather';
  src: url('../public/fonts/merriweather/Merriweather-Regular.woff2') format('woff2'),
      url('../public/fonts/merriweather/Merriweather-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AnaMuslim-Merriweather';
  src: url('../public/fonts/merriweather/Merriweather-Italic.woff2') format('woff2'),
      url('../public/fonts/merriweather/Merriweather-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'AnaMuslim-Merriweather';
  src: url('../public/fonts/merriweather/Merriweather-Light.woff2') format('woff2'),
      url('../public/fonts/merriweather/Merriweather-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AnaMuslim-Merriweather';
  src: url('../public/fonts/merriweather/Merriweather-LightItalic.woff2') format('woff2'),
      url('../public/fonts/merriweather/Merriweather-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

/* Lora */

@font-face {
  font-family: 'AnaMuslim-Lora';
  src: url('../public/fonts/lora/Lora-Regular.woff2') format('woff2'),
      url('../public/fonts/lora/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AnaMuslim-Lora';
  src: url('../public/fonts/lora/Lora-Italic.woff2') format('woff2'),
      url('../public/fonts/lora/Lora-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}
